:root{
    --clr-primary-Bright-orange: hsl(31, 77%, 52%);
    --clr-primary-Dark-cyan: hsl(184, 100%, 22%);
    --clr-primary-Very-dark-cyan: hsl(179, 100%, 13%);
    --clr-neutral-Transparent-whiteparagraphs: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-background-headings-buttons: hsl(0, 0%, 95%);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {

    line-height: 1.5;
    font-family: 'Lexend Deca', sans-serif;
    display:grid;
    place-content:center;
    background-color:var(--clr-neutral-background-headings-buttons);
    color:var(--clr-neutral-background-headings-buttons);
    margin:1rem;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  button{
    font: inherit;
    background-color:var(--clr-neutral-background-headings-buttons);
    border: 0;
    border-radius:1.5rem;
    font-size:13px;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
section{
    display:flex;
    max-height:500px;
    max-width:920px;  
    border-radius:.5rem;
    overflow: hidden;
}

.orange{
    background-color:var(--clr-primary-Bright-orange);
}
.blue{
    background-color: var(--clr-primary-Dark-cyan);
}
.green{
    background-color:var(--clr-primary-Very-dark-cyan)
}
.container{
    padding:2rem;
    padding-right:4.2rem;
}
.container > h1{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2.25rem;
    padding: 1rem 0  2rem 0;
    color:var(--clr-neutral-background-headings-buttons);

}
.container > p{
    color:var(--clr-neutral-Transparent-whiteparagraphs);
    font-weight: 400;
    font-size: 15px;
    padding-bottom:3rem;
}
img{
    padding:1rem 0 ;
}
.container > button{
    margin: 1rem 0;
    padding: .6rem 1.7rem ;
    cursor: pointer;
}
button :hover{
    background-color:inherit;
    color:var(--clr-neutral-Transparent-whiteparagraphs);
    border:1px solid var(--clr-neutral-background-headings-buttons);
}
.orange > button{
    color:var(--clr-primary-Bright-orange);
}
.blue > button{
    color: var(--clr-primary-Dark-cyan);
}
.green > button{
    color:var(--clr-primary-Very-dark-cyan)
}

@media(max-width:950px){
    section{
        display:grid;
        max-width: 325px;
        max-height:fit-content
    }
}